<h1>Kayle please fill in the following:</h1>

<form>
  <label for="name">enter name:</label>
  <input type="text" id="name">

  <br><br><br>

  <label for="surname">enter surname:</label>
  <input type="text" id='surname'>

  <br><br><br>

  <label for="age">enter age:</label>
  <input type="number" id="age">

  <br><br><br>

  <label for="address">enter address:</label>
  <input type="text" id="address">

  <br><br><br>

  <label for="email">enter email:</label>
  <input type="email" id="email">
  
</form>